<!-- form start -->
<form name="Forma" class="form-horizontal" ng-submit="save() && Forma.$valid">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 style="display: inline">
      Cliente
      <small><!-- Descripción --></small>
    </h1>
    <div style="float: right" class="btn-group">
      
      <span style="padding-right: 10px"><button ng-click="delete()" type="button" class="btn btn-danger">Eliminar</button></span>
      <span style="padding-right: 10px"><button type="submit" class="btn btn-success">Guardar</button></span>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <!-- Horizontal Form -->
          <div class="box box-info">

              <div class="box-body">
          <div style="height:300px;width:500px;display:inline-block;">
                <div class="form-group">
                  <label for="nombre" class="col-sm-2 control-label">Nombre</label>

                  <div class="col-sm-10">
                    <input minlength="4" ng-model="client.name" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="responsable" class="col-sm-2 control-label">Responsable</label>

                  <div class="col-sm-10">
                    <input ng-model="client.responsable" type="email" class="form-control" id="responsable" placeholder="Responsable de cuenta" required>
                  </div>
                </div>
               
                
                <div class="form-group">
                  <label for="cargo" class="col-sm-2 control-label">Cargo</label>

                  <div class="col-sm-10">
                    <input ng-model="client.charge" type="text" class="form-control" id="Cargo" placeholder="Cargo" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="telefono" class="col-sm-2 control-label">Telefono</label>

                  <div class="col-sm-10">
                    <input ng-model="client.phone" type="text" class="form-control" id="Telefono" placeholder="Telefono" required>
                  </div>
                 </div>
                 <div class="box-body">
                <div class="form-group">
                  <label for="correo" class="col-sm-2 control-label">Correo</label>

                  <div class="col-sm-10">
                    <input minlength="4"  type="text" class="form-control" id="Correo" placeholder="Correo" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="multiplicador" class="col-sm-2 control-label">Multiplicador Free Press</label>

                  <div class="col-sm-10">
                    <input ng-model="client.freePressMultiplier" type="number" class="form-control" id="multiplicador" placeholder="Multiplicador Free Press" required>
                  </div>
                </div>
                </div>
                </div>
                <div style="height:300px;width:500px;display:inline-block;">
                <div class="form-group">
                  <label for="direccion" class="col-sm-2 control-label">Direccion</label>

                  <div class="col-sm-10">
                    <input ng-model="client.address" type="text" class="form-control" id="direccion" placeholder="Direccion" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="codigo" class="col-sm-2 control-label">Codigo postal</label>

                  <div class="col-sm-10">
                    <input ng-model="client.postalCode" type="text" class="form-control" id="codigoPostal" placeholder="Codigo Postal" required>
                  </div>
                 </div>
                 <div class="box-body">
                <div class="form-group">
                  <label for="pais" class="col-sm-2 control-label">Pais</label>

                  <div class="col-sm-10">
                    <input minlength="4" ng-model="client.country" type="text" class="form-control" id="pais" placeholder="Pais" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inicio" class="col-sm-2 control-label">Inicio Vigencia</label>

                  <div class="col-sm-10">
                    <input ng-model="client.validity.start" type="date" class="form-control" id="inicioVigencia" placeholder="Inicio Vigencia" required>
                  </div>
                </div>
               
                </div>
                <div class="form-group">
                  <label for="fin" class="col-sm-2 control-label">Fin Vigencia</label>

                  <div class="col-sm-10">
                    <input ng-model="client.validity.end" type="date" class="form-control" id="finVigencia" placeholder="Fin Vigencia" required>
                  </div>
                </div>
                
                </div>
              </div>
              </div>
              <!-- /.box-footer -->
          

  </section>
<!-- /.content -->
</form>