<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="images/avatar2.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{Session.user.getFullName()}}</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> {{Session.user.role.name}} </a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <!-- <form action="#" class="sidebar-form" novalidate>
        <ui-select
          ng-model="uiSelect.route"
          theme="bootstrap"
          reset-search-input="true"
          title="Busque una opción"
          append-to-body="true"
          on-select="go($item, $model)">
          <ui-select-match
            placeholder="Busque una opción...">
            {{$select.selected.description}}
          </ui-select-match>
          <ui-select-choices
            repeat="route in Session.routes track by $index">
            <div ng-bind-html=" route.description | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
    </form> -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <!-- Optionally, you can add icons to the links -->
      <li ui-sref-active="active" ng-repeat="route in Session.routes">
        <a ui-sref="{{route.name}}"><i class="fa" ng-class="'fa-' + route.icon"></i> <span>{{route.description}}</span></a>
      </li>
      <!-- <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li> -->
      <li><a ui-sref="login" ng-click="logout()"><i class="fa fa-sign-out"></i> <span>Salir</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
